<section class="login">
  <form>
    <div class="mb-3">
      <label class="form-label fw-bold">Email</label>
      <input type="email" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label fw-bold">Senha</label>
      <input type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary w-100">Entrar</button>

    <div class="form-text">
      <span class="me-1">Não possui conta?</span>
      <span class="text-primary" role="button" routerLink="../cadastro">
        Cadastre-se!
      </span>
    </div>
  </form>
</section>
