.ng-invalid.ng-touched {
  border-color: var(--bs-form-invalid-border-color);

  &:focus {
    border-color: var(--bs-form-invalid-border-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
  }

  ~ .invalid-feedback {
    display: block !important;
  }
}
